html {
  background: #696969 !important;
}

body {
  color: #eee;
}

body h1 {
  color: #fff;
}

.uk-tile-muted-darker {
  background-color: #f0f0f0 !important;
}

.uk-tile-muted-green {
  background-color: #32d296 !important;
}

button {
  border: none;
}